* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.about-us-header {
    text-align: center;
}
.about-us-hr {
    width: 30%;
    margin: auto;
    border: 2px solid green;
}



.about-cont-1 {
    width: 85%;
    margin: auto;
}
.about-cont-1-1 {
    font-size: 1.2em;
    font-weight: bold;
}

.about-cont-2 {
    width: 85%;
    margin: 1em auto 2em auto;
}
.about-cont-2-1 {
    text-align: center;
    margin-bottom: 1.5em;
}
.about-cont-2-2 {
    margin: 1px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-cont-2-2-1, .about-cont-2-2-2, .about-cont-2-2-3 {
    margin: 5px;
    width: 30%;
    height: auto;
    background-color: rgb(0, 218, 11);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 0 6px;
    padding: 1em;

    

}
.about-cont-2-2-3 ul {
    list-style-type: none;
}
.about-cont-2-2 h3 {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

.about-cont-3-1 {
    text-align: center;
}
.about-cont-3-2 {
    margin: 0 auto 2em auto;
}
.about-cont-3-2 iframe {
    display: block;
    margin: auto;
}

.iframe-container {
    position: relative;
    width: 85%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin: 0 auto 1.5em auto;
  }
  
  .responsive-iframe1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    border: none;
    display: block;
    margin: auto;
  }

.about-cont-4 {
    width: 97%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    
}
.about-cont-4 div {
    width: 24%;
    margin: 3px;
}
.about-cont-4 div img {
    width: 100%;
}





@media screen and (max-width: 820px ) {
    .about-cont-2-2-1, .about-cont-2-2-2, .about-cont-2-2-3 {
        width: 45%;
    }
    .responsive-iframe1 {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 600px) {
    .about-cont-2-2-1, .about-cont-2-2-2, .about-cont-2-2-3 {
        width: 85%;
        margin: 0.6em auto 0.6em auto;
    }
}
@media screen and (max-width: 750px) {
    .about-cont-4 div {
        width: 47%;
    }
    .about-cont-4 {
        flex-wrap: wrap;
    }
    
}