footer {
    margin: 0;
    background-color: rgb(37, 37, 37);
    color: white;
    padding-top: 1em;
}
.footer-1 {
    
    text-align: center;
}
.footer-1 p {
    margin-top: 0;
}
.footer-1 h1 {
    margin-bottom: 0;
}

.footer-2 {
    margin: 0.5em 0 0 0;
    
    padding: 1.5em;
    display: flex;
    justify-content: space-around;

}
.footer-2-1 {
    
    width: 30%;

}
.footer-2-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}
.footer-2-2 {
    
    width: 30%;
    text-align: center;

}
.footer-2-3 {
    
    width: 30%;

}
.email a {
    color: white;

}
.email:hover a {
    color: rgb(21, 253, 0);

}
#map-container {
    width: 100%;
}
#map-container iframe {
    width: 100%;
}


@media screen and (max-width: 830px ) {
    
    .footer-2 {
        flex-direction: column;
        align-items: center;
    }
    .footer-2-1, .footer-2-2, .footer-2-3 {
        width: 93%;
    }
    .footer-2-3 {
        padding-left: 30%;
    }

    
    
}

@media screen and (max-width: 667px) {

    .footer-2-3 {
        padding-left: 0;
        
    }

}
