* {
    box-sizing: border-box;
    padding: 0;
}

/* code for the navigation bar */

.nav-container {
    width: 97%;
    margin: 10px auto 0 auto;
    background-color: white;
}
.nav-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.nav-items .items {
    margin: 10px;

}
.nav-items .logo-item {
    margin-right: auto;
}
.nav-items li img {
    width: 15em;
    height: auto;
}
.small-logo {
    width: 12em;
    display: none;
    margin-right: auto;
    margin-left: 10px;
}
.small-logo a {
    width: 100%;
}
.small-logo a img {
    width: 100%;
}

.about-container, .gallery-container {
    position: relative;
}
.about-items, .gallery-items {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    display: none;
}
.about-items div, .gallery-items div {
    margin: 0 0 5px 0 ;
}
.items a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    text-wrap: nowrap;
}
.items a:hover {
    color: black;
}
.items button {
    padding: 15px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(0, 165, 0);
    font-size: 1em;
}
.donate-button {
    padding-top: 0.3em;
}
.items button:hover {
    background-color: green;
}


.side-bar-container {
    background-color: rgb(43, 255, 15);
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 2;
    overflow: auto;
    margin-top: 0;
    padding-top: 5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);

}

.side-items {
    padding: 10px;
    margin: 0.5em;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    display: block;
}
.side-items:hover {
    background-color: rgb(27, 235, 0);
}
.side-items a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;

}

.menu-button, .close-button {
    cursor: pointer;
    display: none;
    z-index: 3;
    position: absolute;
    right: 3.4%;
}
.close-button {
    position: fixed;
}

@media screen and (max-width: 830px ) {
    .nav-items {
        justify-content: space-between;
    }
    .menu-button {
        display: block;
    }
    .max-items {
        display: none;
    }
    .small-logo {
        display: block;
    }
    .logo-item {
        display: none;
    }
}

@media screen and (min-width: 830px) {
    .menu-button, .close-button, .side-bar-container {
        display: none !important;
    }
}