* {
    box-sizing: border-box;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
/* code for the navigation bar */

.nav-container {
    width: 97%;
    margin: 10px auto 50px auto;
}
.nav-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.nav-items .items {
    margin: 10px;

}
.nav-items .logo-item {
    margin-right: auto;
}
.nav-items li img {
    width: 15em;
    height: auto;
}
.small-logo {
    width: 12em;
    display: none;
    margin-right: auto;
    margin-left: 10px;
}
.small-logo a {
    width: 100%;
}
.small-logo a img {
    width: 100%;
}

.about-container, .gallery-container {
    position: relative;
}
.about-items, .gallery-items {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    display: none;
}
.about-items div, .gallery-items div {
    margin: 0 0 5px 0 ;
}
.items a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    text-wrap: nowrap;
}
.items a:hover {
    color: black;
}
.items button {
    padding: 15px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(0, 165, 0);
    font-size: 1em;
}
.donate-button {
    padding-top: 0.3em;
}
.items button:hover {
    background-color: green;
}


.side-bar-container {
    background-color: rgb(43, 255, 15);
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 2;
    overflow: auto;
    margin-top: 0;
    padding-top: 5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);

}

.side-items {
    padding: 10px;
    margin: 0.5em;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    display: block;
}
.side-items:hover {
    background-color: rgb(27, 235, 0);
}
.side-items a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;

}

.menu-button, .close-button {
    cursor: pointer;
    display: none;
    z-index: 3;
    position: absolute;
    right: 3.4%;
}
.close-button {
    position: fixed;
}


/* -------------------------------------------------------------------*/

.main-content {
    width: 95%;
    margin: 0 auto 0 auto;
}
.welmsg {
    text-align: center;
}
.welmsg hr {
    width: 100px;
    color: rgb(0, 219, 0);
    border: 2px solid rgb(0, 219, 0);
}
.welmsg h1, .welmsg h3 {
    margin: 0;
}

/* slide show code */

.slideshow-container {
    position: relative;
    height: 91vh;
    overflow: hidden;
    

  }
.slideshow-container h1 {
    text-align: center;
}
.slideshow-container hr {
    width: 50%;
    color: rgb(0, 255, 0);
}
  .simage {
    height: 100%;
    overflow: hidden;
    position: relative; /* Add this */
  }
  
  .simage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  
  /* Update the navigation arrow styles */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1; /* Add this to ensure the arrows are on top of the images */
  }
  
  .prev {
    left: 2%; /* Adjust this value to move the left arrow inside the slideshow container */
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 2%; /* Adjust this value to move the right arrow inside the slideshow container */
    border-radius: 0 3px 3px 0;
  }
  
  .prev:hover, .next:hover {
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0.7);
  }


/* the part below the slides */


.discover {
    width: 94%;
    margin: auto;
}
.discover .dshr {
    color: rgb(0, 199, 0);
    border: 2px solid rgb(0, 199, 0);
}
.dicontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dfirst, .dsecond {
    width: 48%;
}
.dshr2 {
    border: 0.3px dotted black;
}

/* the code for the teachers and students images */



.image-container {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3.5em;
}
.sub-container {
    width: 24%;
    margin: 2px;
}
.image-teme {
    width: 100%;
    position: relative;

}
.image-teme img {
    width: 100%;
}
.image-teme h4 {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: #ffffff;
    margin: 0;
}

/* number of students part */

.container-2 {
    display: flex;
    flex-wrap: wrap;

}
.subcont {

    width: 31%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0 10px;
    padding: 0.5em 1.5em;
    display: flex;
    align-items: center;

}
.subcont-2 {
    margin: 1em;
}
.subcont h1, .subcont p {
    margin: 0;
}



/* news and recent events */

.news {
    clear: both;
    margin-top: 5em;
    clear: both;
}
.news>h1, .news>h5 {
    text-align: center;

}
.news>h1 {
    margin-bottom: 0;
}
.news>h5 {
    margin-top: 0;
}
.news hr {
    width: 40%;
    border: 2px solid green;
    color: green;
}
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 5em;

}
.news-container .box {
    width: 32%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto 5px auto;
    overflow: hidden;
}
.box img {
    width: 100%;
}
.box p, .box h1 {
    position: relative;
    left: 10px;
}
.box h1 {
    margin: 6px;
}
.box p {
    margin: 0 0 0 10px;
}
.box h5 {
    margin: 0;
    position: relative;
    top: 2px;
    left: 10px;
    text-decoration:underline;
}

/* footer */

footer {
    margin: 0;
    background-color: rgb(37, 37, 37);
    color: white;
    padding-top: 1em;
}
.footer-1 {
    
    text-align: center;
}
.footer-1 p {
    margin-top: 0;
}
.footer-1 h1 {
    margin-bottom: 0;
}

.footer-2 {
    margin: 0.5em 0 0 0;
    
    padding: 1.5em;
    display: flex;
    justify-content: space-around;

}
.footer-2-1 {
    
    width: 30%;

}
.footer-2-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}
.footer-2-2 {
    
    width: 30%;
    text-align: center;

}
.footer-2-3 {
    
    width: 30%;

}
.email a {
    color: white;

}
.email:hover a {
    color: rgb(21, 253, 0);

}
#map-container {
    width: 100%;
}
#map-container iframe {
    width: 100%;
}

/* achievement part */

.achievement {
    width: 96%;
    margin: auto;
}
.ach-header {
    text-align: center;
}
.ach {
    width: 20%;
    background-color: #01b400;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 0 6px;
}
.ach-cont {
    display: flex;
    justify-content: space-around;
}

/* table part */

.the-table table {
    width: 95%;
    text-align: center;
    vertical-align:middle;
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(56, 56, 56, 0.849);
    color: rgb(255, 255, 255);
}
.the-table h3 {
    text-align: center;
}
.the-table th, .the-table td {
    padding: 10px;
}
.the-table tr:nth-child(odd) {
    background-color: rgba(58, 58, 58, 0.849);
  }


@media screen and (max-width: 830px ) {
    .nav-items {
        justify-content: space-between;
    }
    .menu-button {
        display: block;
    }
    .max-items {
        display: none;
    }
    .small-logo {
        display: block;
    }
    .logo-item {
        display: none;
    }
    .sub-container {
        width: 47%;
    }
    .news-container .box {
        width: 90%;
    }
    .dicontainer {
        display: block;
    }
    .dfirst, .dsecond {
        width: 100%;
    }
    .container-2 {
        width: 95%;
        margin: auto;
    }
    .subcont {
        width: 46%;
        margin: 5px;

    }
    .footer-2 {
        flex-direction: column;
        align-items: center;
    }
    .footer-2-1, .footer-2-2, .footer-2-3 {
        width: 93%;
    }
    .footer-2-3 {
        padding-left: 30%;
    }
    .ach {
        width: 45%;
        margin: 10px;
    }
    .ach-cont {
        flex-wrap: wrap;
    }
    
    
}
@media screen and (min-width: 830px) {
    .menu-button, .close-button, .side-bar-container {
        display: none !important;
    }
}
@media screen and (max-width: 667px) {
    .image-container {
        flex-direction: column;

    }
    .sub-container {
        margin: 5px auto 5px auto;
        width: 93%;
    }
    .news-container {
        flex-direction: column;

    }
    .news-container .box {
        width: 90%;
        margin: 0 auto 5px auto;
    }
    .container-2 {
        width: 80%;
        margin: auto;
    }
    .subcont {
        width: 100%;

    }
    .footer-2-3 {
        padding-left: 0;
        
    }
    .ach {
        width: 80%;
        margin: 10px;
    }
    .ach-cont {
        flex-wrap: wrap;
    }
}
